# history files
.viminfo
.*.swp
.vim/.netrwhist
.vim/undodir
.bash_history
.bash_logout
.lesshst
.lua_history
.gore

# keys
.ssh
.gnupg
.gist

# build artifacts
.cmake
.cmake-root
.cache
.local
.luaroot
.goroot
.protobuf-root
.rust-root
.git-root
.cargo
.fontconfig
.wine
pkg
bin

# default files with settings
.profile

# sources
src

# GUI
Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos
.Xresources
.config
.dbus
.fonts.conf
.gconf
.xsession-errors
.xsettingsd
