# history files
.viminfo
.*.swp
.vim/undodir
.bash_history
.bash_logout
.lesshst
.lua_history
.gore

# keys
.ssh
.gnupg
.gist

# build artifacts
.cmake
.cmake-root
.cache
.local
.luaroot
.goroot
.protobuf-root
.fontconfig
.wine
pkg
bin

# default files with settings
.profile

# sources
src
