# history files
.viminfo
.*.swp
.vim/.netrwhist
.vim/undodir
.bash_history
.bash_logout
.lesshst
.lua_history
.gore
.wget-hsts

# keys
.ssh
.gnupg
.gist

# build artifacts
.aptitude
.cmake
.cmake-root
.cache
.local
.luaroot
.goroot
.naclbin
.protobuf-root
.rust-root
.cargo
.git-root
.wget-root
.astyle-root
.fontconfig
.wine
.ruby-root
.ruby-build-root
.gem
.nodejs-root
.npm
.node-gyp
node_modules
pkg
bin

# default files with settings
.profile

# sources
src

# GUI
Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos
.Xresources
.config
.dbus
.fonts.conf
.gconf
.xsession-errors
.xsettingsd
.mozilla
