[user]
	name = Boris Nagaev
	email = bnagaev@gmail.com
[color]
	ui = auto
[alias]
	utccommit = !git commit --date=\"$(date --utc +%Y-%m-%dT%H:%M:%S%z)\"
	mskcommit = !git commit --date=\"$(TZ=Europe/Moscow date +%Y-%m-%dT%H:%M:%S%z)\"
[core]
	pager = less -F -X -R
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
